html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

main {
  padding: 2rem 3.3rem;
}

ul {
  list-style: none;
}

.text {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  letter-spacing: 0.09rem;
  width: 80%;
  margin-top: 0.4rem;
}

.text:focus {
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  padding: 6rem 3.3rem 12rem;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  width: 100%;
}

.header__head {
  letter-spacing: 1.7rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.box {
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  padding-right: 1rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px ridge red;
}

* {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.todo-check:focus, .custom-radio:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 12px red, 2px 0px 12px red, 0px 2px 12px red, -2px 0px 2px red, 0px -2px 2px red;
          box-shadow: 0px 0px 12px red, 2px 0px 12px red, 0px 2px 12px red, -2px 0px 2px red, 0px -2px 2px red;
}

.hover:focus, button:focus {
  outline: 1px solid red;
  color: red;
  -webkit-box-shadow: 0px 0px 6px 3px red;
          box-shadow: 0px 0px 6px 3px red;
}

body {
  background-color: #161722;
  color: #fafafa;
}

.header {
  background-image: url(../images/bg-mobile-dark.jpg);
}

.box {
  background-color: #25273c;
  color: #fafafa;
}

input[type="text"] {
  caret-color: red;
}

.custom-radio {
  border: 0.1rem solid #484b6a;
}

.todo-check {
  border: 0.1rem solid #484b6a;
}

.todo-flex {
  -webkit-border-after: 0.1rem solid #4d5066;
          border-block-end: 0.1rem solid #4d5066;
}

.todo.dragging {
  color: green;
  background-image: linear-gradient(115deg, #93f79e, #aef7b5, #d7fadb, #f2faf3);
  opacity: 0.4;
}

::-webkit-input-placeholder {
  color: #484b6a;
}

:-ms-input-placeholder {
  color: #484b6a;
}

::-ms-input-placeholder {
  color: #484b6a;
}

::placeholder {
  color: #484b6a;
}

.items {
  color: #484b6a;
}

.items button {
  color: inherit;
}

.hover:hover {
  cursor: pointer;
  color: #fafafa;
}

.attribution {
  margin-top: 5rem;
  color: #fafafa;
}

.attribution a:focus {
  -webkit-box-shadow: 0px 0px 3px 3px red;
          box-shadow: 0px 0px 3px 3px red;
}

.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

.attribution a:active {
  text-decoration: none;
}

.sun {
  background-color: #e4e5f1;
  color: #fafafa;
}

.sun .attribution {
  color: #161722;
}

.sun .header {
  background-image: url(../images/bg-mobile-light.jpg);
}

.sun .box {
  background-color: #fafafa;
  color: #484b6a;
}

.sun .custom-radio {
  border: 0.1rem solid #d2d3db;
}

.sun .todo-check {
  border: 0.1rem solid #d2d3db;
}

.sun .todo-flex {
  -webkit-border-after: 0.1rem solid #cacde8;
          border-block-end: 0.1rem solid #cacde8;
}

.sun .todo.dragging {
  color: red;
  background-image: linear-gradient(115deg, #f7939e, #f7aeb5, #fad7db, #faf2f3);
  opacity: 0.4;
}

.sun ::-webkit-input-placeholder {
  color: #777a92;
}

.sun :-ms-input-placeholder {
  color: #777a92;
}

.sun ::-ms-input-placeholder {
  color: #777a92;
}

.sun ::placeholder {
  color: #777a92;
}

.sun .items {
  color: #9394a5;
}

.sun .items button {
  color: inherit;
}

.sun .hover:hover {
  cursor: pointer;
  color: #484b6a;
}

.sun .todo-check:focus, .sun .custom-radio:focus {
  color: red;
}

.sun .hover:focus, .sun button:focus {
  color: red;
}

@media screen and (min-width: 800px) {
  .header {
    background-image: url(../images/bg-desktop-dark.jpg);
    background-position: left center;
  }
  .sun .header {
    background-image: url(../images/bg-desktop-light.jpg);
  }
  .attribution {
    margin-top: 0;
  }
}

.custom-radio {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.custom-radio:hover {
  cursor: pointer;
  background-color: green;
}

.todo__check-cont {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.todo__check-cont input {
  visibility: hidden;
  width: 2rem;
  height: 2rem;
}

.todo__check-cont input:focus + label {
  outline: 0.2rem inset red;
}

.todo__check-cont input:checked + label {
  background-image: linear-gradient(145deg, #57ddff, #c058f3), url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover 70%;
  background-position: center;
  background-blend-mode: lighten;
}

.todo__check-cont label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 0px;
}

.todo__check-cont label:hover {
  cursor: pointer;
  border-top-color: #57ddff;
  border-bottom-color: #c058f3;
  border-left-color: #57ddff;
  border-right-color: #c058f3;
}

.todo:focus {
  -webkit-box-shadow: 0px 0px 3px 2px red;
          box-shadow: 0px 0px 3px 2px red;
  outline: none;
}

.todo__button {
  width: 2rem;
  height: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: auto;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-image: url(../images/icon-cross.svg);
}

.todo__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .todo:focus .todo__button {
    background-image: url(../images/icon-cross.svg);
  }
  .todo:hover .todo__button {
    background-image: url(../images/icon-cross.svg);
  }
  .todo__button {
    background-image: none;
  }
  .todo__button:focus {
    background-image: url(../images/icon-cross.svg);
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin-top: -14rem;
  margin-bottom: 3rem;
}

.todo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  border-radius: 0;
}

.todo-flex:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
}

.items button {
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  padding: 0.2rem 0.4rem;
}

.filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  background-color: inherit;
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 800px) {
  .filter-items {
    position: relative;
    bottom: 0;
    height: inherit;
  }
}

.active {
  color: #3a7bfd !important;
}

#switchMode:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.adding-list-animation {
  -webkit-animation: adding-list 1s ease-in-out;
          animation: adding-list 1s ease-in-out;
}

.remove-list-animation {
  animation: remove-list 2s ease-in-out forwards reverse;
}

@-webkit-keyframes remove-list {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes remove-list {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes adding-list {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes adding-list {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
