:root {
  --header-bg-img: url(../images/bg-mobile-dark.jpg);
  --header-bg-img-big: url(../images/bg-desktop-dark.jpg);
  --bright-blue: hsl(220, 98%, 61%);
  --bg-first: hsl(192, 100%, 67%);
  --bg-second: hsl(280, 87%, 65%);
  --main-bg: hsl(235, 21%, 11%);
  --main-text: hsl(0, 0%, 98%);
  --box-bg: hsl(235, 24%, 19%);
  --box-text: hsl(0, 0%, 98%);
  --input-caret: red;
  --radio-border: hsl(235, 19%, 35%);
  --todo-check: hsl(235, 19%, 35%);
  --todo-flex-border: hsl(233, 14%, 35%);
  --todo-drag-text: green;
  --todo-drag-bg-1: #93f79e;
  --todo-drag-bg-2: #aef7b5;
  --todo-drag-bg-3: #d7fadb;
  --todo-drag-bg-4: #f2faf3;
  --placeholder-text: hsl(235, 19%, 35%);
  --items-text: hsl(235, 19%, 35%);
  --hover-txt: hsl(0, 0%, 98%);
  --attri-txt: hsl(0, 0%, 98%);
  --attri-focus-shadow: red;
}

:root.light {
  --header-bg-img: url(../images/bg-mobile-light.jpg);
  --header-bg-img-big: url(../images/bg-desktop-light.jpg);
  --yellow: blue;
  --main-bg: hsl(236, 33%, 92%);
  --main-text: hsl(0, 0%, 98%);
  --box-bg: hsl(0, 0%, 98%);
  --box-text: hsl(235, 19%, 35%);
  --radio-border: hsl(233, 11%, 84%);
  --todo-check: hsl(233, 11%, 84%);
  --todo-flex-border: hsl(234, 39%, 85%);
  --todo-drag-text: red;
  --todo-drag-bg-1: #f7939e;
  --todo-drag-bg-2: #f7aeb5;
  --todo-drag-bg-3: #fad7db;
  --todo-drag-bg-4: #faf2f3;
  --placeholder-text: hsl(234, 11%, 52%);
  --items-text: hsl(236, 9%, 61%);
  --hover-txt: hsl(235, 19%, 35%);
  --attri-txt: hsl(235, 21%, 11%);
  --attri-focus-shadow: ;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 2px ridge red;
}

* {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--main-bg);
  color: var(--main-text);
}

main {
  padding: 2rem 3.3rem;
}

.header {
  background-image: var(--header-bg-img);
}

@media screen and (min-width: 800px) {
  .header {
    background-image: var(--header-bg-img-big);
    background-position: left center;
  }
}

input[type="text"] {
  caret-color: var(--input-caret);
}

::-webkit-input-placeholder {
  color: var(--placeholder-text);
}

:-ms-input-placeholder {
  color: var(--placeholder-text);
}

::-ms-input-placeholder {
  color: var(--placeholder-text);
}

::placeholder {
  color: var(--placeholder-text);
}

ul {
  list-style: none;
}

.text {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  font-family: inherit;
  letter-spacing: 0.09rem;
  width: 80%;
  margin-top: 0.4rem;
}

.text:focus {
  outline: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  padding: 6rem 3.3rem 12rem;
}

.header__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
  width: 100%;
}

.header__head {
  letter-spacing: 1.7rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.box {
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-top: 1.6rem;
  padding-bottom: 1.2rem;
  padding-right: 1rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--box-bg);
  color: var(--box-text);
}

.todo-check:focus, .custom-radio:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 12px red, 2px 0px 12px red, 0px 2px 12px red, -2px 0px 2px red, 0px -2px 2px red;
          box-shadow: 0px 0px 12px red, 2px 0px 12px red, 0px 2px 12px red, -2px 0px 2px red, 0px -2px 2px red;
}

.hover:focus, button:focus {
  outline: 1px solid red;
  color: red;
  -webkit-box-shadow: 0px 0px 6px 3px red;
          box-shadow: 0px 0px 6px 3px red;
}

.custom-radio {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.1rem solid var(--radio-border);
}

.custom-radio:hover {
  cursor: pointer;
  background-color: green;
}

.todo-flex {
  -webkit-border-after: 0.1rem solid var(--todo-flex-border);
          border-block-end: 0.1rem solid var(--todo-flex-border);
}

.todo-check {
  border: 0.1rem solid var(--todo-check);
}

.todo.dragging {
  color: var(--todo-drag-text);
  background-image: linear-gradient(115deg, var(--todo-drag-bg-1), var(--todo-drag-bg-2), var(--todo-drag-bg-3), var(--todo-drag-bg-4));
  opacity: 0.4;
}

.todo__check-cont {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.todo__check-cont input {
  visibility: hidden;
  width: 2rem;
  height: 2rem;
}

.todo__check-cont input:focus + label {
  outline: 0.2rem inset red;
}

.todo__check-cont input:checked + label {
  background-image: linear-gradient(145deg, var(--bg-first), var(--bg-second)), url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-size: cover 70%;
  background-position: center;
  background-blend-mode: lighten;
}

.todo__check-cont label {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 0px;
}

.todo__check-cont label:hover {
  cursor: pointer;
  border-top-color: var(--bg-first);
  border-bottom-color: var(--bg-second);
  border-left-color: var(--bg-first);
  border-right-color: var(--bg-second);
}

.todo:focus {
  -webkit-box-shadow: 0px 0px 3px 2px red;
          box-shadow: 0px 0px 3px 2px red;
  outline: none;
}

.todo__button {
  width: 2rem;
  height: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-left: auto;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-image: url(../images/icon-cross.svg);
}

.todo__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .todo:focus .todo__button {
    background-image: url(../images/icon-cross.svg);
  }
  .todo:hover .todo__button {
    background-image: url(../images/icon-cross.svg);
  }
  .todo__button {
    background-image: none;
  }
  .todo__button:focus {
    background-image: url(../images/icon-cross.svg);
  }
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  margin-top: -14rem;
  margin-bottom: 3rem;
}

.todo-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
  border-radius: 0;
}

.todo-flex:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.items {
  color: var(--items-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: relative;
}

.items button {
  color: inherit;
  font-size: 1.6rem;
  background-color: transparent;
  border: none;
  padding: 0.2rem 0.4rem;
}

.filter-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  background-color: inherit;
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  border-radius: 0.5rem;
}

@media screen and (min-width: 800px) {
  .filter-items {
    position: relative;
    bottom: 0;
    height: inherit;
  }
}

.attribution {
  margin-top: 5rem;
  color: var(--attri-txt);
}

.attribution a:focus {
  -webkit-box-shadow: 0px 0px 3px 3px var(--attri-focus-shadow);
          box-shadow: 0px 0px 3px 3px var(--attri-focus-shadow);
}

.attribution a:hover, .attribution a:focus {
  text-decoration: underline;
}

.attribution a:active {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .attribution {
    margin-top: 0;
  }
}

.hover:hover {
  cursor: pointer;
  color: var(--hover-txt);
}

.active {
  color: var(--bright-blue) !important;
}

#switchMode:hover {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.adding-list-animation {
  -webkit-animation: adding-list 1s ease-in-out;
          animation: adding-list 1s ease-in-out;
}

.remove-list-animation {
  animation: remove-list 2s ease-in-out forwards reverse;
}

@-webkit-keyframes remove-list {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes remove-list {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes adding-list {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes adding-list {
  0% {
    opacity: 0.1;
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
  }
  40% {
    opacity: 0.4;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
