:root {
  --main-bg-top: hsl(232, 19%, 15%);
  --main-bg-bottom: hsl(230, 17%, 14%);
  --main-color: hsl(0, 0%, 100%);
  --bg-card: hsl(228, 28%, 20%);
  --color-card: hsl(0, 0%, 100%);
  --bg-card-hover: #3d466c;
  --blue-text: hsl(228, 34%, 66%);
  --dark-blue: #8794c4;
  --dark-grey-blue: hsl(228, 12%, 44%);
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --white-toggle: hsl(230, 22%, 74%);
  --checked-slider: hsl(0, 0%, 100%);
  --toggle-blue-part: hsl(210, 78%, 56%);
  --toggle-green-part: hsl(146, 68%, 55%);
}

:root.white {
  --main-bg-top: hsl(225, 100%, 98%);
  --main-bg-bottom: hsl(0, 0%, 100%);
  --main-color: hsl(230, 17%, 14%);
  --bg-card: hsl(227, 47%, 96%);
  --color-card: hsl(230, 17%, 14%);
  --bg-card-hover: #d2d8ef;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-transition: background 0.5s linear, color 0.5s linear;
  transition: background 0.5s linear, color 0.5s linear;
}

*:focus {
  outline: 0.2rem solid var(--bright-red);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 3rem 4rem 6rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(12%, var(--main-bg-top)), color-stop(12%, var(--main-bg-bottom)));
  background-image: linear-gradient(180deg, var(--main-bg-top) 12%, var(--main-bg-bottom) 12%);
  color: var(--main-color);
}

a:hover {
  text-decoration: underline;
  color: var(--bright-red);
}

@media screen and (min-width: 800px) {
  body {
    padding: 3rem 9rem;
  }
}

@media screen and (min-width: 1000px) {
  body {
    padding: 3rem 13rem;
  }
}

.heading {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width: 605px) {
  body {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, var(--main-bg-top)), color-stop(20%, var(--main-bg-bottom)));
    background-image: linear-gradient(180deg, var(--main-bg-top) 20%, var(--main-bg-bottom) 20%);
  }
}

@media screen and (min-width: 1175px) {
  body {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(32%, var(--main-bg-top)), color-stop(32%, var(--main-bg-bottom)));
    background-image: linear-gradient(180deg, var(--main-bg-top) 32%, var(--main-bg-bottom) 32%);
  }
}

.head {
  -webkit-margin-after: 3.5rem;
          margin-block-end: 3.5rem;
}

.head__dashboard {
  -webkit-border-after: 0.01rem solid var(--dark-blue);
          border-block-end: 0.01rem solid var(--dark-blue);
  -webkit-padding-after: 2.2rem;
          padding-block-end: 2.2rem;
  -webkit-margin-after: 1.7rem;
          margin-block-end: 1.7rem;
}

.head__dashboard > h3 {
  -webkit-margin-after: 0.2rem;
          margin-block-end: 0.2rem;
}

.head__dashboard > div {
  font-weight: 700;
  color: var(--blue-text);
}

@media screen and (min-width: 670px) {
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .head__dashboard {
    border: 0;
  }
}

.mode {
  font-weight: 700;
  color: var(--blue-text);
}

.mode__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  block-size: 2.5rem;
  inline-size: 5rem;
  inline-size: 100%;
  position: relative;
}

.mode__toggle > input {
  display: none;
}

.mode__toggle > input:checked + .mode__toggle-slider {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--white-toggle)), to(var(--white-toggle)));
  background-image: linear-gradient(90deg, var(--white-toggle), var(--white-toggle));
  background-color: var(--white-toggle);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mode__toggle > input:checked + .mode__toggle-slider::after {
  -webkit-transform: translateX(2.3rem);
          transform: translateX(2.3rem);
  background-color: var(--checked-slider);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mode__toggle-slider {
  block-size: 2.8rem;
  inline-size: 5.4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--toggle-blue-part)), to(var(--toggle-green-part)));
  background-image: linear-gradient(90deg, var(--toggle-blue-part), var(--toggle-green-part));
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3.4rem;
  cursor: pointer;
  position: relative;
}

.mode__toggle-slider::after {
  position: absolute;
  bottom: 0.4rem;
  left: 0.5rem;
  content: "";
  block-size: 2rem;
  inline-size: 2rem;
  background-color: var(--dark-grey-blue);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5rem;
}

@media screen and (min-width: 670px) {
  .mode__toggle {
    gap: 1.2rem;
    margin-top: -3rem;
  }
}

.card {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
  border-radius: 0.4rem;
  background-color: var(--bg-card);
  color: var(--color-card);
}

.card:hover {
  background-color: var(--bg-card-hover);
  cursor: pointer;
}

.social {
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.social__medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.5rem;
}

.social__medium-at {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.7rem;
}

.social__medium-pic {
  vertical-align: -0.6rem;
}

.social__medium-id {
  font-weight: 700;
  color: var(--blue-text);
  letter-spacing: 0.08rem;
}

.social__medium-followers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__medium-followers > span:nth-of-type(1) {
  font-size: 6rem;
  font-weight: 700;
}

.social__medium-followers > span:nth-of-type(2) {
  color: var(--dark-grey-blue);
  letter-spacing: 0.5rem;
  font-weight: 400;
  -webkit-margin-before: -0.9rem;
          margin-block-start: -0.9rem;
}

.social__medium-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3rem;
  -webkit-margin-before: 0.8rem;
          margin-block-start: 0.8rem;
  font-weight: 400;
}

.social__medium-date > span:nth-of-type(2) {
  font-weight: 700;
}

.social__medium-icon {
  vertical-align: 0.3rem;
}

.overview > header {
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
}

.overview__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1.5rem;
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
  -webkit-padding-end: 3rem;
          padding-inline-end: 3rem;
}

.overview__card > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.overview__card-detail {
  font-weight: 700;
  color: var(--blue-text);
}

.overview__card-number > span {
  font-size: 3rem;
  font-weight: 700;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2.5rem;
  row-gap: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .grid {
    -ms-grid-columns: (minmax(21rem, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
  }
}

.fac {
  -webkit-border-before: 0.4rem solid #198ff5;
          border-block-start: 0.4rem solid #198ff5;
}

.twi {
  -webkit-border-before: 0.4rem solid #1ca0f2;
          border-block-start: 0.4rem solid #1ca0f2;
}

.ins {
  position: relative;
}

.ins::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background-image: linear-gradient(90deg, #fdc468, #df4996);
  position: absolute;
  content: "";
  height: 4px;
  right: 0;
  left: 0;
  top: 0;
}

.youtube {
  -webkit-border-before: 0.4rem solid #c4032a;
          border-block-start: 0.4rem solid #c4032a;
}

.positive {
  color: #1db489;
}

.negative {
  color: #dc414c;
}
